/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework
/storage/logs
/storage/app
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.junie
/.cursor
laradumps.yaml
.DS_Store
bootstrap/cache/*
bootstrap/cache
.DS_Store
!.gitignore
/.sass-cache
/.cache
Thumbs.db
.idea/
.vscode/
*.swp
*~
*.swo
*.bak
*.tmp
*.log
*.old
*.orig
*.rej
*.class
*.war
*.jar
*.iml
*.ipr
